/node_modules
/public/hot
/public/storage
/public/images
/public/js
/public/css
/public/mix-manifest.json
/public/generate-itinerary
/storage/*.key
/storage
/vendor
.env
.env.testing
.env.prod
_reports

.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea

limatours.tar.bz2

info.php

/dev-stuff

/public/test

_ide_helper.php

composer.lock

package-lock.json

yarn.lock
/public/css/

@php

udpated_force_in_github
NUL
