//colores
$red_main: #EB5757;
$red_darker: #C63838;
$red_lighter: #FF9494;


$white_main: #FFFFFF;

$gray_lighter: #F5F5F5;
$grey_darken: #575757;




  //$black: #
$font_basic: 'Montserrat', sans-serif;
$color-btn-background: #ffffff;
$transition: .2s;
$color-header: #0d0d0d;
$color-text: #404040;
