//Style Guide UI Kit
/* ---- Colors ---- */
$color-primary: #eb5757;
$color-primary-dark: #a40000;
$color-primary-light: #ffebeb;
$color-primary-80: #c83b3f;
$color-primary-60: #d36a6d;
$color-primary-40: #df989a;
$color-primary-20: #eac7c8;
$color-primary-strong: #bd0d12;

$color-blue: #1284ed;
$color-blue-dark: #004e96;
$color-blue-light: #f1f8ff;
$color-blue-powder: #ebf5ff;
$color-blue-soft: #bfd9ef;
$color-green: #0dbdb8;
$color-green-2: #00a15b;
$color-green-3: #288a5f;
$color-green-4: #339167;
$color-green-dark: #007a77;
$color-green-light: #eafff6;
$color-blue-ultra-light: #f2f7fa;
$color-blue-ultra-light-2: #e1edf9;

$color-white: #ffffff;
$color-white-2: #f9f9f9;
$color-white-3: #f2f2f2;
$color-white-4: #e4e5e6;

$color-black: #2f353a;
$color-black-2: #575b5f;
$color-black-3: #7e8285;
$color-black-4: #babcbd;
$color-black-5: #bdbdbd;
$color-black-6: #757d8a;
$color-black-7: #3a4248;
$color-black-8: #e7e7e7;
$color-black-9: #979797;
$color-black-10: #7c7c7c;
$color-black-slate: #51575c;
$color-black-graphite: #565a5f;
$color-black-dark: #24292d;
$color-black-dark-2: #212121;

$color-error: #ff3b3b;
$color-error-dark: #d80404;
$color-error-light: #ffe1e1;
$color-state-ligth: #fff2f2;
$color-error-ultra-light: #feefef;
$color-error-strong: #da1414;
$color-error-medium: #e25643;

$color-warning: #ffcc00;
$color-warning-dark: #e4b804;
$color-warning-light: #fffbdb;
$color-warning-strong: #f97800;
$color-warning-soft: #f99500;
$color-gold-dark: #b59100;
$color-warning-faded: #fff2dd;

$color-info: #5c5ab4;
$color-info-dark: #2e2b9e;
$color-info-light: #ededff;

$color-tag-dark: #2e2b9e;
$color-tag-ligth: #ededff;

$color-tag-card: #06c270;
$color-success: #07df81;
$color-border-profile: #084391;
$color-info-dark: #00a15b;
$color-info-light: #dfffe9;

$color-gray-ligth: #bec0c2;
$color-gray-ligth-2: #cfcdcd;
$color-gray-ligth-3: #b0b0b0;
$color-gray-ligth-4: #dcdcdc;
$color-gray-soft: #d9d9d9;
$color-gray-soft-2: #cad0cd;
$color-gray-ultra-light: #f5f5f5;
$color-gray-ice: #e6ebf2;
$color-gray-ice-2: #ebeff2;

$color-gray-blue-1: #e3eaf3;
$color-gray-blue-2: #d9e1ec;

/* ---- Fonts ---- */
$font_general: 'Montserrat', sans-serif;
$title-size-xl: 3.75em;
$title-size-lg: 3em;
$title-size-md: 2.25em;
$title-size-sm: 1.875em;
$title-size-xs: 1.5em;

$font-size-xl: 1.25em;
$font-size-lg: 1.125em;
$font-size-md: 1em;
$font-size-sm: 0.875em;
$font-size-xs: 0.75em;

/* ---- Sizes ---- */
$size-6px: 0.375em;
