:root {
  --color-primary: #bd0d12;
  --color-black: #2f353a;
  --color-black-2: #575b5f;
  --color-black-3: #7e8285;
  --color-black-4: #babcbd;
  --color-black-5: #bdbdbd;
  --color-black-6: #757d8a;
  --color-black-7: #3a4248;
  --color-black-8: #e7e7e7;
}
