/* Colors */
$color-primary: #bd0d12;
$color-primary-80: #c83b3f;
$color-primary-60: #d36a6d;
$color-primary-40: #df989a;
$color-primary-20: #eac7c8;
$color-primary-light: #ffebeb;
$color-primary-dark: #a40000;

$color-complementary-blue: #1284ed;
$color-complementary-blue-light: #f1f8ff;
$color-complementary-blue-dark: #004e96;
$color-complementary-blue-60: #dceeff;

$color-complementary-green: #0dbdb8;
$color-complementary-green-light: #eafff6;
$color-complementary-green-dark: #00615e;

$color-white: #ffffff;
$color-gray-1: #f9f9f9;
$color-gray-2: #f2f2f2;
$color-gray-3: #e4e5e6;
$color-gray-4: #e7e7e7;

$color-black: #2f353a;
$color-black-2: #575b5f;
$color-black-3: #7e8285;
$color-black-4: #babcbd;
$color-black-5: #bdbdbd;

//States
$color-success: #07df81;
$color-success-light: #dfffe9;
$color-success-dark: #00a15b;

$color-warning: #ffcc00;
$color-warning-light: #fffbdb;
$color-warning-dark: #e4b804;
$color-warning-dark-2: #b59100;

$color-error: #ff3b3b;
$color-error-light: #fff2f2;
$color-error-dark: #d80404;

$color-info: #5c5ab4;
$color-info-light: #ededff;
$color-info-dark: #004e96;

$color-pending: #f99500;
$color-pending-light: #fff2dd;
$color-pending-dark: #f97800;

//font-weight
$semibold: 600;

//Layout header
$header-height: 3.438rem;
$side-collapsed-width: 3.125rem;
