@import '../componentes/toast';
@import '../variables';

//**********************************************/
// FIX (general)
//**********************************************/

section[class^="page-"] {
    padding: 50px 0;
    background: white
}

 .titulo h2 {
     font-style: normal;
     font-weight: 700;
     color: $gris-oscuro;
     margin-bottom: 32px;
     font-size: 3.2rem;
     line-height: 38px;
 }

//**********************************************/
// COTIZACION (general)
//**********************************************/

.page-cotizacion {
    .dropdown-menu {
        padding: 15px;
        margin-top: 18px;

        .container-dropdown {
            width: 100%;
        }

        .form{
            &-group{
              &.categories {
                width: 25%;
              }
            }
          }

        .form-group {
            width: 50%;
            float: left;
            margin-bottom: 0;
            padding: 0 10px;
            position: relative;
        }
        .form-control {
            padding: 0 5px 0 10px;
            font-size: 15px;
            font-style: normal;
            font-weight: normal;
            line-height: 19px;
            color: #000000;
            width: 60px;
        }
        label {
            font-size: 12px;
            font-weight: bold;
        }
    }

}


//**********************************************/
// COTIZACION  (placeholders)
//**********************************************/

%section { // bloques
    padding: 0 35px;
    margin-bottom: 35px;
}

%producto-info-small { // listado
    width: 5%;
    text-align: center;
}
%icon-color-hover { // listado
    color: $rojo;
    &:hover .icon {
        color: darken($rojo,10%)
    }
}

//**********************************************/
// CREAR COTIZACION
//**********************************************/

.cotizacion-crear {
    margin-bottom: 25px;

    .form {
        padding: 25px 15px;
    }
    .form-row {
        margin:0
    }
    .icon {
        font-size: 18px;
        line-height: 24px;
        color: $gris_icons;
        font-weight: 400;
        vertical-align: sub;
        position: absolute;
        left: 24px;
        top: 7px;
    }
    .icon-rank {
        font-size: 18px;
        line-height: 24px;
        color: #a71b20;
        font-weight: 400;
        vertical-align: sub;
        position: relative;
    }
    .icon-modal {
        font-size: 18px;
        line-height: 24px;
        color: $gris_icons;
        font-weight: 400;
        vertical-align: sub;
        left: 24px;
        top: 7px;
    }
    .form-control {
        padding-left: 45px;
        .text {
            font-style: normal;
            font-weight: 400;
            font-size: 1.45rem;
            line-height: 38px;
            color: black;
            float: left;
        }
    }

    .form-group {
        position: relative;
    }
    .select-service {
        padding-left: 10px;
        width: 220px;
    }
    .btn-crear {
        width: 220px;
    }
    &--nombre {
        width: 34%;
    }
    &--fecha {
        width: 15%;
    }
    &--pasajeros {
        width: 22%;
        .text {
            padding-right: 15px;
        }
        .num {
            margin-right: 3px;
        }
    }
    &--boton {
        width: 20%;
    }
}

//**********************************************/
// EDITAR (cotizador)
//**********************************************/

.cotizacion-editar {
    @extend %section;
    display: inline-flex;

    .btn-group {
        margin-bottom: 25px;
    }
    .btn-link {
        width: auto;
        padding: 0 30px 0 0;
    }
    .link {
        .icon {
            color: $gris-oscuro;
            font-size: 20px;
            text-decoration: none;
            margin-right: 12px;
            vertical-align: middle;
        }
        .text {
            color: $gris-oscuro;
            font-size: 14px;
            text-decoration: underline;
        }
        &:hover .text {
            text-decoration: none;
        }
        small {
            font-size: 12px;
            font-weight: bold;
            margin-left: 5px;
            display: inline-block;
            color: $gris-claro;
        }
    }
}
.cotizacion-editar--lista {
    .link {
        .icon {
            vertical-align: text-bottom;
        }
    }
}

//**********************************************/
// RANGOS (cotizador)
//**********************************************/

.cotizacion-rangos {
    margin-bottom: 0px;

    .rango {
        background: $gris-oscuro;;
        color: white;
        padding: 5px 20px 5px 15px;
        border-radius: 25px;
        font-size: 12px;
        display: inline-flex;
        min-width: 75px;
        margin: 2px;
        position: relative;
        & i {
            position: absolute;
            right: 9px;
            top: 8px;
            cursor: pointer;
            //content: "x";
            //display: block;
            //position: absolute;
            //font-size: 8px;
            //color: $gris-claro;
            //font-weight: bold;
            //padding-left: 45px;
          }
    }
    .rango-cate {
        &::before {
            content: ""!important;
        }
    }

}

//**********************************************/
// CATEGORIAS (cotizador)
//**********************************************/

.cotizacion-categorias {
    margin-bottom: 0px;

    .btn-tab {
        background-color: white;
        color: $rojo;
        border: 1px solid $rojo;
        border-radius: 5px;
        height: 35px;
        padding: 0 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 35px;
        display: inline-block;
        margin: 4px 2px;
        &.active {
            background-color: $rojo;
            color: white;
            border: 1px solid white;
        }
    }
}

.cotizacion-listado {
    .leyenda {
        display: none
    }
    .producto {
        background: $gris_fondo-bloque;
    }
}




.producto-estado {
    @extend %producto-info-small;
    .estado {
        background: $gris_border;
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 25px;
        margin: 0 auto;
        &.estado-ok {
            background: $turquesa;
        }
        &.estado-rq {
            background: $rosado;
        }
    }
}

.producto-tipo {
    @extend %producto-info-small;
    .btn-icon {
        padding: 0;
        .icon {
            color: $gris_icons;
            line-height: 10px;
        }
        .icon-lock-switch,
        .icon-globe-switch {
            color: $rojo;
            font-size: 27px;
        }
    }
}
.producto-cantidad {
    @extend %producto-info-small;
    font-weight: bold;
}

.producto-editar {
    @extend %producto-info-small;
    text-align: left;

    .btn-icon {
        margin-top: -2px;

        .icon {
            color: $rojo;
            line-height: 10px;
        }
    }
}

.producto-precio {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.producto-acomodacion {
    @extend %producto-info-small;

    .btn-icon {
        margin-top: -2px;

        .icon {
            color: $gris_icons;
            line-height: 10px;
        }

        .icon-user-switch {
            color: $rojo;
            font-size: 20px
        }
    }
}

/********************************************/

.cotizacion-incluir .btn-secondary {
    float: right;
    margin: 0 0 0 5px;
    font-size: 16px;
    height: 34px;
    padding: 0 25px;
    font-style: normal;
    line-height: 30px;
}

.cotizacion-incluir {
    padding: 15px;
    margin: 15px 0;

}

.cotizacion-incluir .btn-link {
    display: none;
}

.cotizacion-cotizar {
    margin-top: 10px;
    padding-top: 25px;
    border-top: 1px solid $gris_border;
}

.cotizacion-cotizar .btn-primary {
    width: auto;
    padding: 0 80px;
    float: right;
}

//**********************************************/
//* COTIZACIONES (listado) */
//**********************************************/
.dropdown {
    &.cotizacion {
        .dropdown-toggle {
            border: 0;
            color: white;

            i {
                font-size: 22px;
            }

            &:after {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }

        .dropdown-menu {
            width: 495px;
            margin-top: 10px;
            padding: 25px 30px;
            right: -25px;

            &:before,
            &:after {
                left: 90%;
            }

            &.dropdown-menu__cotizacion {
                left: 20px !important;

            }

            .dropdown-menu_header {
                .btn-link {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: $rojo !important;
                    width: auto;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    height: auto;
                    text-decoration: none !important;

                    i {
                        font-size: 13px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .dropdown-menu_body {

                .dropdown-menu_title {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 25px;
                    color: black;
                }

                .dropdown-menu_subtitle {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: $gris_oscuro;

                    b {
                        text-decoration: underline
                    }
                }

                .scrollbar-outer {
                    max-height: 185px;
                }

                .list-group {
                    .list-group-item {
                        border: 0;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

                        p {
                            margin: 1px 0;
                            color: black;
                            font-size: 14px;

                            strong {
                                font-size: 14px;
                            }

                            small {
                                font-size: 12px;
                                color: $gris_oscuro;
                            }
                        }

                        span {
                            color: $gris_oscuro;

                            small {
                                font-family: Lato;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 14px;
                                color: $gris_oscuro;
                                margin-left: 2px;
                            }
                        }

                        .icon-circle {
                            border-radius: 20px;
                            font-size: 10px;

                            &.rojo {
                                background: $rosado;
                                color: $rosado;
                            }

                            &.azul {
                                background: $turquesa;
                                color: $turquesa;
                            }
                        }

                        &.list-group-item_warning {
                            background: $tag_required;

                            p,
                            span {
                                color: #81353F;
                            }

                            small {
                                color: #81353F;
                            }

                            strong {
                                color: #81353F;
                            }
                        }
                    }
                }

            }

            .scrollbar-outer>.scroll-element.scroll-y .scroll-element_outer {
                width: 2px;
            }
        }
    }
}

.modal--cotizacion {
    &__content {
        .modal-body {
            padding: 44px 33px !important;
        }

        .close {
            padding: 0;
            line-height: normal;

            span {
                font-size: 23px;
                position: relative;

                &:before {
                    position: relative;
                    top: -3px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    line-height: 32px;
                }
            }
        }
    }

    &__document {
        max-width: 1263px;
    }

    &__content {
        background: white;
        border-radius: 5px;
        padding: 45px 30px;
    }

    &__header {
        padding: 0;
        display: block;
        border: 0;
        margin-bottom: 19px;

        .modal-title {
            font-family: Lato;
            font-style: normal;
            font-size: 28px;
            line-height: 34px;
            text-transform: capitalize;
            color: black;
            margin-bottom: 8px;
        }

        .modal-paragraph {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: black;

            i {
                position: relative;
                width: 9px;
                height: 9px;
                border-radius: 20px;
                display: inline-block;
                margin: 0 0 0 7px;
                padding: 0;
                border: 0;
            }
        }

        .close {
            position: absolute;
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            text-shadow: inherit;
            font-size: 16px;
            line-height: 19px;
            color: white;
            top: -22px;
            right: 15px;
            padding: 0;
            opacity: 1;

            span {
                font-size: 28px;
                display: inline-block;
                vertical-align: sub;
                margin-left: 10px;
            }
        }
    }

    &__body {
        padding: 0;

        .form {
            background: $gris_fondo-bloque;
            //background: #e2e2e2;
            border-radius: 10px;
            padding: 20px 25px;

            legend {
                margin: 0;
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: black;
            }

            .prev-list {
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;

                i {
                    font-size: 15px;
                    display: inline-block;
                    vertical-align: bottom;
                }
            }

            .form-group {
                margin: 0;
            }

            .custom-combo {
                .select-selected {
                    height: 40px;
                    border-radius: 3px;
                    border: 1px solid $gris_border;
                    background: white;
                    border-radius: 3px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    color: black;

                    &:after {
                        border-color: transparent transparent #000 transparent;
                        color: black;
                    }
                }

                .select-items {
                    background: white;
                    border: 1px solid $gris_claro;

                    div {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: black;

                        &:hover,
                        &.same-as-selected {
                            background: #FFEAEB;
                            color: $rojo;
                        }
                    }
                }
            }

            .btn-primary {
                width: 193px;
            }

            .form-control {

                &:disabled,
                &:read-only {
                    background: $gris_fondo-bloque;
                    border: 1px solid $gris_border;
                }
            }

            .custom-checkbox {
                margin: 0;
            }

            .input-group {
                .form-control {
                    border-left: 0;
                }

                &.disabled {
                    .input-group-text {
                        background: $gris_fondo-bloque;
                        border: 1px solid $gris_border;
                        border-right: 0;
                        color: $gris_claro;
                    }
                }
            }

            .input-group-text {
                background: white;
                border-color: $gris_border;
                color: $gris_claro;
                padding-right: 0;
                border-right: 0;

                i {
                    font-size: 16px;
                }
            }

            .custom-combo {
                &.input-group {
                    .select-selected {
                        width: calc(100% - 24.5px);
                        border-left: 0;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        padding-left: 10px;
                    }
                }
            }

            .custom-checkbox .custom-control-label {
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                color: $gris_oscuro;
            }
        }
    }

    &__footer {
        padding: 0;
    }

    // ENVIOS
    // *******************************
    &.modal--envios {
        .tbl--cotizacion__detalles {
            width: 200px;
        }

        .tbl--cotizacion__ciudad {
            width: 150px;
        }

        .tbl--cotizacion {
            &__envio {
                span {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 170%;
                    display: block;
                    text-overflow: ellipsis;
                }

                color: #4F4B4B;
                width: 125px !important;
            }

            .tbl--cotizacion__acciones {
                width: 100px;
                .acciones__item {
                    margin: 0 auto;
                }
            }

            &__codigo {
                width: 100px;
            }

            .tbl--cotizacion__envio {
                width: 100px;

                &__detalles {
                    width: 200px;
                }

                &__ciudad {
                    width: 175px;
                }

                &__estimado {
                    width: 100px;
                }

                &__acciones {
                    width: 25px;
                }

            }

            .link-volver {
                position: absolute;
                top: 25px;
                right: 45px;
            }
        }
    }
}

/***** !!! *****/

.tbl--cotizacion {
    padding-top: 25px;

    &__title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: $gris;
        width: 100%;
        margin: 0;
    }

    &__header {
        padding: 15px 27px;
    }

    &__content {
        background: $gris_fondo-bloque;
        border-radius: 10px;
        padding: 19px 27px;
        margin: 7.5px 0;
        display: inline-block;
        position: relative;
        width: 100%;

        &.tbl--cotizacion__warning {
            background: $tag_required;

            .tbl--cotizacion__delete,
            .tbl--cotizacion__codigo span,
            .tbl--cotizacion__detalles span,
            .tbl--cotizacion__detalles span strong,
            .tbl--cotizacion__fecha span,
            .tbl--cotizacion__fecha span b,
            .tbl--cotizacion__duracion span,
            .tbl--cotizacion__duracion small,
            .tbl--cotizacion__tipo span,
            .tbl--cotizacion__estimado span,
            .tbl--cotizacion__acciones .acciones__item i {
                color: $rojo;
            }

            .tbl--cotizacion__ciudad .tag {
                background: #F0CDCD;
                color: $rojo;
            }
        }

        &.tbl--cotizacion__new {
            background: $tag_init;

            .tbl--cotizacion__delete,
            .tbl--cotizacion__codigo span,
            .tbl--cotizacion__detalles span,
            .tbl--cotizacion__detalles span strong,
            .tbl--cotizacion__fecha span,
            .tbl--cotizacion__fecha span b,
            .tbl--cotizacion__duracion span,
            .tbl--cotizacion__duracion small,
            .tbl--cotizacion__tipo span,
            .tbl--cotizacion__estimado span,
            .tbl--cotizacion__acciones .acciones__item i {
                color: $azul;
                color: #3e6490;
            }

            .tbl--cotizacion__ciudad .tag {
                background: darken($tag_init, 5%);
                color: $azul;
                color: #3e6490;
            }
        }
    }

    &__delete {
        text-decoration: none;
        color: $gris_claro;
        width: 22px;

        span {
            font-size: 22px;
        }
    }

    &__codigo {
        width: 56px;

        span {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: $gris_oscuro;
            text-align: center;
            display: block;
        }
    }

    &__detalles {
        width: 230px;

        span {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 170%;
            color: $gris_oscuro;
            display: block;
            text-overflow: ellipsis;

            strong {
                font-weight: bold;
                font-size: 16px;
                line-height: 170%;
                color: $gris_oscuro;
            }
        }
    }

    &__fecha {
        width: 137px;

        span {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 170%;
            text-align: center;
            color: $gris;
            display: block;

            b {
                font-size: 14px;
                line-height: 17px;
                color: $gris_oscuro;
            }
        }
    }
    &__noche {
        margin-left: -10px;
    }

    &__ciudad {
        text-align: center;
        width: 175px;

        .tag {
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            color: $gris_oscuro;
            background: $gris_border;
            border-radius: 50px;
            display: inline-block;
            width: 38px;
            height: 20px;
            margin: 2.5px 1.5px;
        }
    }

    &__duracion {
        width: 64px;

        span {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $gris_oscuro;
            display: block;
        }

        small {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: $gris_oscuro;
            display: block;
        }
    }

    &__tipo {
        width: 28px;

        span {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $gris_oscuro;
            text-transform: uppercase;
        }
    }

    &__estimado {
        width: 64px;

        span {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: $gris_oscuro;
        }
    }

    &__acciones {
        width: 153px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7px;
        cursor: pointer;

        //cursor: pointer;
        .acciones__item {
            padding: 8px;
            display: inline-block;
            line-height: 25px;

            i {
                font-size: 20px;
                color: $rojo;
            }

            &:hover,
            &:hover * {
                text-decoration: none !important
            }
        }
    }

    .dropdown-group {
        a {
            cursor: pointer !important
        }
    }

    .dropdown-menu__opciones {

        &.dropdown-menu {
            margin-top: 15px;
            padding: 10px 20px;
            left: 0;

            &:before,
            &:after {
                left: auto;
                right: 15px;
            }

            a {
                display: block;
                white-space: nowrap;
                text-align: right;
                font-size: 14px;
                font-weight: bold;
                margin: 10px 0;
                padding: 5px 0;
                color: black;
                text-decoration: none !important;
                transition: color .15s linear;
            }

            a:hover {
                color: $rojo;
            }

            i {
                padding-left: 5px
            }

            h5 {
                font-weight: bold;
                padding-top: 6px;
                padding-bottom: 1px;
            }
            select {
                border: 1px solid #ddd;
                padding: 2px 3px;
                background-color: #fff;
                border-radius: 3px;
            }
            .btn-primary {
                font-size: 10px;
                height: 30px;
                line-height: 0
            }
            .btn-secondary {
                background-color: transparent;
                border: 1px solid #890005;
                color: #890005;
            }
        }
    }

    .dropdown-menu__cotizacion {
        &.dropdown-menu {
            width: 495px;
            margin-top: 10px;
            margin-top: 15px;
            padding: 25px 30px;

            &:before,
            &:after {
                left: 90%;
            }

            &.dropdown-menu__cotizacion {
                left: 20px !important;
            }

            .dropdown-menu_header {
                .btn-link {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: $rojo !important;
                    width: auto;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    height: auto;
                    text-decoration: none !important;

                    i {
                        font-size: 13px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            .dropdown-menu_body {
                .dropdown-menu_title {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 25px;
                    color: black;
                    .form {
                        padding: 1rem;
                        margin: 5px;
                        text-align: center;
                        input {
                            width: 70px;
                            height: 25px;
                            padding: 0 10px;
                            border: 1px solid #e9ecef;
                            border-radius: 5px;
                            outline: none;
                        }
                    }
                }

                .dropdown-menu_subtitle {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: $gris_oscuro;

                    b {
                        text-decoration: underline
                    }
                }

                .scrollbar-outer {
                    max-height: 275px;
                }

                .list-group {
                    .list-group-item {
                        border: 0;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

                        p {
                            margin: 1px 0;
                            color: black;

                            strong {
                                font-size: 14px;
                            }

                            small {
                                font-size: 12px;
                                color: $gris_oscuro;
                            }
                        }

                        .icon-circle {
                            border-radius: 20px;
                            font-size: 10px;

                            &.rojo {
                                background: $rosado;
                                color: $rosado;
                            }

                            &.azul {
                                background: $turquesa;
                                color: $turquesa;
                            }
                        }
                    }
                }
            }

            .scrollbar-outer>.scroll-element.scroll-y .scroll-element_outer {
                width: 2px;
            }
        }
    }

    &__detalle {
        padding: 0;

        .tbl--cotizacion__ciudad {
            width: 250px;
        }
    }
    .btn-secondary {
        background-color: transparent;
        border: 1px solid #890005;
        color: #890005;
    }
}

#modalAlerta,
#modalAlertaPaxsSave,
#modalAlertaFlight,
#modalAlertaPaxs,
#modalAlertaCotizacion,
#modalAlertaRemarks,
#modalWillRemove,
#modal_cerrar{
    h4 {
        font-size: 18px;
        margin-bottom: 15px;
        .icon {
            font-size: 45px;
            margin-bottom: 10px;
        }
    }

    .modal-footer,
    .modal-body{
        border-radius: 10px 10px 10px 10px!important;
    }

    .group-btn .btn {
        display: inline-block;
        width: auto;
        border: 0;
        color: #ffffff;
        border-radius: 5px;
        height: 40px;
        padding: 0 15px;
        font-style: normal;
        font-size: 16px;
        line-height: 40px;
        margin: 0 5px;
        text-align: center;
        font-weight: normal;
    }
    .group-btn {
        float: left;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
        width: 100%;
    }

    .modal-content .modal-body {
        padding: 35px;
    }

    .group-btn .btn-primary {
        background-color: #890005;
    }

    .group-btn .btn-secondary {
        background-color: transparent;
        border: 1px solid #890005;
        color: #890005;
    }

    .group-btn .btn-secondary:hover {
        background-color: #A71B20 !important;
        border-color: #A71B20 !important;
        box-shadow: inherit !important;
        color: #fff;
    }
}



#navbarDemo {
    top: 0;
    position: absolute;
    width: 100%;
}


/********************************************/
// PRODUCTOS AGRUPADOS (COTIZACIONES)

.content_services_group {

    display: flex;
    flex-wrap: wrap;
}



/************************************/
// Horarios Cotizados

.schedule-hour {
    background: white;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem!important;
    border: 1px solid #dee2e6;
    margin-bottom: -2rem;
    font-size: 13px!important;

}

.th-table {
    //text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: #FFFFFF!important;
    background: #EB5757!important;
    border-color: #EB5757!important;
}
.td-table {
    text-align: center!important;
    border: 1px solid #EB5757;
    padding: 1rem;
    font-size: 13px!important;
}

.background-white {
    background: white;
}
.btn-time {
    font-weight: 600;
    background: #ff919126;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #eb5757;
    font-size: 14px!important;
    margin-bottom: 2rem;
    border-color: #eb575714;
    &:focus,
    &:hover {
        color: #eb5757!important;
    }
}

.btn-time-sucess {
    background: #d4fbff;
    color: #12bcc4;
    font-size: 14px!important;
    margin-bottom: 2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: #9dfbff;
    &:focus,
    &:hover {
        color: #12bcc4!important;
    }
}

.schedules-icon {

}





