.page-reportes{
    padding: 50px 0;
    background: $blanco;
    .container{
        h2{
            font-style: normal;
            font-weight: bold;
            font-size: 3.2rem;
            line-height: 38px;
            color: $gris_oscuro;
            margin-bottom: 32px;
        }
        h3{
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 34px;
            color: $gris_oscuro;
            margin-bottom: 32px;
        }
        .form{
        	padding: 30px;
        	.form-group{
	        	display: inline-block;
			    width: 23.2%;
			    color: #333;
			    vertical-align: top;
			    margin-right: 2%;
			    &-last{
			    	margin-right: 0;
			    }
			    .form-control.fecha{
			    	.form-control.reportrange-text{
			    		border: none !important;
			    		padding-left: 0 !important;
			    		padding-right: 0 !important;
			    		height: 38px;
			    	}
			    }
	        	label{
	        		display: block;
	        	}
	        }
        }
        .title-result {
		    margin-top: 60px;
		    h3{
		    	font-size: 2.6rem;
		    }
		}
		.table,
		.thead,
		.tbody,
		.tfoot,
		.tr,
		.td,
		.th{
			text-align: center;
			margin: auto;
			padding: 1rem;
			margin-bottom: 5px;
		}


		.container{
			width: 100%;
			background: #fff;
			margin: auto;
			border:none;
			padding: 0;
			margin-bottom: 5rem;
            .head-result{
              	font-weight: 600;
              	font-size: 12px;
              	color: #8e8e8e;
				text-transform: uppercase;
            }
			.body-result {
				background: #f8f8f8;
				color: #4f4b4b;
				font-weight: normal;
				font-size: 14px;
				position:relative;
				border-top: 8px solid white;
				border-radius: 12px;
				span{
					display: block;
					font-size: 13px;
					color: #4f4b4b;
					margin-top: 6px;
					margin-left: 5px;
				}
				div{
					//display: block;
					margin-top: 6px;
					font-size: 12px;
				}
				&.fecha-reserva,
				&.fecha-llegada,
				&.fecha-salida{
					font-weight: bold;
					span{
						display: inline-block;
						margin: 0;
						margin-left: 5px;
						font-size: 13px;
						color: #6c6c6c;
					}
				}
				a{
					color: $rojo;
				}
				span.clasi{
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0px;
					width: 5px;
					margin: 0;
					border-radius: 10px;
					margin: 8px 0px;
					margin-left: 5px;
				}
			}
		}

		.clasificacion{
			padding: 10px 0 10px 10px;
			font-size: 14px;
			div{
				display: inline-block;
				vertical-align: top;
				margin-right: 18px;
				background: none !important;
				font-weight: 600;
				font-size: 13px;
			}
		}
		.clasi_sinPenalidad{
			color: #1ed790;
			background: #1ed790;
		}
		.clasi_sinConfirmar{
			color: #3b97e2;
			background: #3b97e2;
		}
		.clasi_conPenalidad{
			color: #dc3545;
			background: #dc3545;
		}
		.clasi_cancelada{
			color: #ffcf20;
			background: #ffcf20;
		}
		.clasi_limVencido{
			color: #fe3044;
			background: #fe3044;
		}
		.clasi_resHotelStatusText {
			.box-status {
				p {
					font-weight: 600;
					color: #fff;
					text-align: center;
					border-radius: 50px;
					padding: 0.5rem 2rem;
					width: max-content;
					display: inline-flex;
					margin-bottom: 0!important;
					&.clasi_sinPenalidad{
						background: #1ed790;
					}
					&.clasi_sinConfirmar{
						background: #3b97e2;
					}
					&.clasi_conPenalidad{
						background: #dc3545;
					}
					&.clasi_cancelada{
						background: #ffcf20;
						color: #000;
					}
					&.clasi_limVencido{
						background: #fe3044;
					}
				}
			}

		}
		.col-action:hover{
			color: #dc3545;
			cursor: pointer;
			.fa {
				font-weight: 600;
			}
		}

    }
}
