.protocols {
  .hero__primary {
    background: $gray_lighter!important;
    color: $red_main;
    background-size: 200px;
    background-position: 95% 100%;
    min-height: 235px !important;
    line-height: 1;
    padding-top: 20px;
    @include tablet {
      padding-top: 70px;
    }
    p {
      font-size: 2.5rem;

    }
  }

  .content-title {
    text-align: center;
    margin-bottom: 1rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      color: #000;
      font-weight: 500;
      font-size: 2.5rem !important;
      line-height: 1;
      @include tablet {
        font-size: 3rem !important;
        line-height: 0;
        margin: 5rem 0rem;
      }
    }
  }

}
