.exist_guide_component {
  transition: height 2s;

  .modal_content {
    // height: 28vh;
  }

  svg {
    color: $color-primary-dark;
    cursor: pointer;
  }

  .input_guide {
    --bs-gutter-x: 0;

    input[type='radio'] {
      display: none;
    }

    input[type='radio'] + label:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      padding: 6px;
      background-clip: content-box;
      border: 1px solid $color-black-5;
      background-color: $color-white-2;
      border-radius: 50%;
    }

    input[type='radio']:checked + label:before {
      border: 1px solid $color-primary;
      background-color: $color-primary;
    }

    label {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .guide_text {
    font-weight: 600;
    font-size: $font-size-md;
  }

  .paragraph_modal {
    font-weight: 500;
    font-size: $font-size-sm;
  }
}
