.daterangepicker{
    margin-top: 29px !important;
    min-width: 700px !important;
}
.daterangepicker .drp-calendar{
    max-width: 50% !important;
}
.daterangepicker .drp-calendar.left{
    padding-left: 12px !important;
}
.daterangepicker .drp-calendar.right{
    padding-right: 12px !important;
    padding-left: 13.5px !important;
}

.daterangepicker.ltr .drp-calendar.left .calendar-table{
    padding-right: 13.5px !important;
}

.daterangepicker[data-v-6e7dbc50]{
    width: auto !important;
    min-width: 703px !important;
    max-width: 100% !important;
    background: $blanco;
    border-radius: 5px;
    border: 0;
    box-shadow: rgba(0,0,0,0.25) 0px 2px 4px;
}

.daterangepicker .calendar-table th{
    font-style: normal;
    font-weight: 900;
    font-size: 1rem !important;
    line-height: 10px !important;
    color: $negro;
    text-transform: uppercase;
    border-bottom: 1px solid #E9E9E9;
    padding: 0 0 5px 0;
}

.daterangepicker .calendar-table th.available{
    border: 0;
    padding: 0;
}

.daterangepicker .calendar-table th.month{
    font-style: normal;
    font-weight: bold;
    font-size: 1.9rem !important;
    line-height: 23px !important;
    color: $negro;
    text-transform: capitalize;
    padding: 22px 0;
    border: 0;
}

.daterangepicker .calendar-table td{
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem !important;
    line-height: 10px !important;
    text-align: center;
    color: #4F4B4B;
    padding: 15px;
    border: inherit;
}

.daterangepicker .calendar-table td.active,
.daterangepicker .calendar-table td.hover{
    background-color: $rojo !important;
    color: $blanco !important;
    border-radius: 100px;
    z-index: 1;
}

.daterangepicker .calendar-table td.off,
.daterangepicker .calendar-table td.off.end-date,
.daterangepicker .calendar-table td.off.in-range,
.daterangepicker .calendar-table td.off.start-date{
    color: $gris_border;
}

.daterangepicker .calendar-table td.today{
    color: $rojo;
    font-weight: bold;
    position: relative;
    &:before{
        content: 'hoy';
        font-style: normal;
        font-weight: 900;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
        color: $gris;
        position: absolute;
        bottom: 5px;
    }
}

.daterangepicker .calendar-table td.in-range{
    background: #FFEAEB;
    color: $rojo;
}

.daterangepicker .drp-buttons .applyBtn{
    background-color: $rojo_oscuro;
    border-color: $rojo_oscuro;
    &:hover,
    &:focus,
    &:active{
        background-color: $rojo;
        border-color: $rojo;
    }
}

.daterangepicker:before{
    border-right: 17px solid transparent !important;
    border-top: 0 solid transparent;
    border-left: 17px solid transparent !important;
    border-bottom: 16px solid $blanco !important;
    top: -16px !important;
}
.daterangepicker:after{
    border-right: 17px solid transparent !important;
    border-top: 0 solid transparent;
    border-left: 17px solid transparent !important;
    border-bottom: 16px solid rgba(0,0,0,0.25) !important;
    top: -17px !important;
    opacity: 0.15;
}

.daterangepicker.openscenter[data-v-6e7dbc50] {
    top: 30px;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 10px;
}
