//colores
$rojo: #a71b20;
$red: #a71b20;
$primary: #a71b20;
$rojo_oscuro: #890005;

$gris: #979797;
$gris_claro: #bbbdbf;
$gray-800: #bbbdbf;
$gris_oscuro: #4f4b4b;

$gris_icons: #bbbdbf;
$gris_border: #e9e9e9;

$negro: #000000;
$black: #000000;
$blanco: #ffffff;

$gris_fondo-bloque: #fafafa;
$gris_fondo-page: #f2f2f2;

$azul: #4a90e2;
$turquesa: #04b5aa;
$verde: #4bc910;
$amarillo: #ddca1f;
$mostaza: #e0a100;
$naranja: #ea882d;
$rosado: #ce3b4d;
$morado: #85165f;
$marron: #714c37;
$yellow: #fffb88;

$dash_morado: #d6cbef;
$dash_morado-claro: #ebe2ff;
$dash_morado-oscuro: #94599d;

$tag_init: #e2fdff;
$tag_user: #fafafa;
$tag_transfer: #fbffe2;
$tag_hotel: #ebe2ff;
$tag_activity: #ebffe2;
$tag_required: #ffe2e2;

$font_base: 'Lato', sans-serif;
$border_color: rgba(0, 0, 0, 0.4);
