// @import '../global.scss';

.button-component {
  border: none;
  border-radius: 0.313em;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5em 1.5em;
  text-decoration: none;
  &.btn-lg {
    height: 3.125em;
  }
  &.btn-md {
    height: 2.813em;
  }
  &.btn-sm {
    height: 2.813em;
  }
  &.btn-primary {
    background-color: $color-primary;
    color: $color-white;
    &:hover {
      background-color: $color-primary-60;
    }
    &:focus {
      background-color: $color-primary-dark;
      box-shadow: 0 0 0 0.188em rgb(223 152 154 / 80%);
    }
    &:active {
      background-color: $color-primary-dark;
    }
    &:disabled {
      background-color: $color-black-4;
    }
  }
  &.btn-secondary {
    background-color: $color-white;
    border: 0.125em solid;
    color: $color-primary;
    &:hover {
      border-color: $color-primary-60;
      color: $color-primary-60;
    }
    &:focus {
      border-color: $color-primary-dark;
      box-shadow: 0 0 0 0.188em rgb(223 152 154 / 80%);
      color: $color-primary-dark;
    }
    &:active {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
    }
    &:disabled {
      color: $color-black-4;
      border-color: $color-black-4;
    }
  }
  &.btn-transparent {
    background-color: inherit;
    border: 0.125em solid transparent;
    color: $color-primary;
    padding: 0.5em 0.9em;
    &:hover {
      background-color: $color-white;
      border-color: $color-primary;
      color: $color-primary;
    }
    &:focus {
      border-color: $color-primary-dark;
      box-shadow: 0 0 0 0.188em rgb(223 152 154 / 80%);
      color: $color-primary-dark;
    }
    &:active {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
    }
    &:disabled {
      border-color: $color-black-4;
      color: $color-black-4;
    }
  }
  .btn-action {
    background: none;
    border: none;
    border-radius: 0.25em;
    font-size: 1.25em;
    margin: 0 0.2em;
    &:hover {
      background: $color-white;
      color: $color-primary;
      font-weight: 800;
    }
  }
  &.btn-disabled {
    :disabled {
      color: $color-black-4;
      border-color: $color-black-4;
    }
  }
}
