
//colores
$rojo: #A71B20;
$rojo_oscuro: #890005;

$gris: #979797;
$gris_claro: #BBBDBF;
$gris_oscuro: #4F4B4B;

$gris_icons: #BBBDBF;
$gris_border: #E9E9E9;

$negro: #000000;
$blanco: #ffffff;

$gris_fondo-bloque: #FAFAFA;
$gris_fondo-page: #F2F2F2;

$azul: #4A90E2;
$turquesa: #04B5AA;
$verde: #4BC910;
$amarillo: #DDCA1F;
$mostaza: #E0A100;
$naranja: #EA882D;
$rosado: #CE3B4D;
$morado: #85165F;
$marron: #714C37;

$dash_morado: #D6CBEF;
$dash_morado-claro: #EBE2FF;
$dash_morado-oscuro: #94599D;

$tag_init: #E2FDFF;
$tag_user:#FAFAFA;
$tag_transfer:#FBFFE2;
$tag_hotel:#EBE2FF;
$tag_activity:#EBFFE2;
$tag_required:#FFE2E2;

$font_base: 'Lato', sans-serif;
