.recordatorio {
  position: relative;
  padding-left: 30px;
  span.count-recordatorio {
    position: absolute;
    width: 18px;
    height: 15px;
    border-radius: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 14px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    color: #890005;
    background: #ffffff;
    right: -10px;
    bottom: -5px;
    padding: 1px;
  }

  .dropdown-menu {
    width: auto;
    margin-top: 10px;
    padding: 25px 30px;
    right: -25px;
    left: -380px;
    &:before,
    &:after {
      left: 90%;
    }
    .close {
      float: right;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1;
      color: #a71b20;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
    }
    .form {
      label {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
      }
      .name {
        width: 320px;
      }
      .date {
        width: 155px;
        text-align: center;
      }
      .hora,
      .nivel {
        width: 130px;
        text-align: center;
      }
      .mensaje {
        width: 320px;
        padding: 10px;
      }
      .title {
        position: relative;
        top: -25px;
        background: white;
        width: 100px;
        padding: 5px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }
      .content {
        margin-top: -30px;
      }
      .vs--searchable.nivel {
        width: 120px;
      }

      .vs--searchable {
        padding: 4px 7.5px;
        width: 320px;
        min-height: 35px;
        height: auto;
        &:before {
          content: '';
        }
        .vs__selected {
          width: auto;
          margin: 2px 4px;
          padding: 8px 12px;
          height: 30px;
          background: #e9f0ff;
          .vs__deselect {
            fill: #dc3545;
          }
        }
        .vs__search {
          padding: 5px 10px;
        }

        .vs__dropdown-menu {
          background: #ffffff;
          border-radius: 5px;
          margin-top: 21px;
          padding: 15px 0;
          width: 350px;
          .vs__dropdown-option {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 289%;
            color: $gris_oscuro;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 20px;
            position: relative;
            &.vs__dropdown-option--highlight {
              background: #e9f0ff;
            }
            &:before {
              content: '';
            }
          }
        }
      }
      .box-card {
        border: 1px solid #e9e9e9;
        border-radius: 3px;
        background: $blanco;
        padding: 10px;
        width: 320px;
        margin: 20px 0;
      }
    }

    &.dropdown-menu__cotizacion {
      left: 20px !important;
    }
  }

  .dropdown-toggle {
    background: $rojo_oscuro;
    border: 0;
    padding: 0;
    font-size: 22px;
    color: $blanco;
    position: relative;
    &:focus,
    &:active {
      background: $rojo_oscuro !important;
      outline: inherit;
      box-shadow: inherit !important;
    }
    &:after {
      display: none;
    }
  }
}
